{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "indent": ["warn", 2],
    "react/prop-types": [0]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
